/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin hellovaadin {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  #LoginPanel.v-panel{
		margin-left: 600px;
		margin-top: 300px;
		position: relative;
   }
 
  #LoginPanel.v-panel .v-panel-caption {
		/* fallback */
		background-color: #135d8c;
		/* Safari 4-5, Chrome 1-9 */
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#135d8c),to(#19a9dd));
		/* Safari 5.1, Chrome 10+ */
		background: -webkit-linear-gradient(top, #19a9dd, #135d8c);
		/* Firefox 3.6+ */
		background: -moz-linear-gradient(top, #19a9dd, #135d8c);
		/* IE 10 */
		background: -ms-linear-gradient(top, #19a9dd, #135d8c);
		/* Opera 11.10+ */
		background: -o-linear-gradient(top, #19a9dd, #135d8c);
		font-family: helvetica;
		color: white;
		width: 300px;
		height: 20px;
	}
	
	#LoginPanel.v-panel #LoginPanel.v-panel-content {
		width: 100px;
		height: 130px;
		
	}
	
	#LoginPanel.v-panel #LoginPanel.v-textfield {
	background: #e0e0ff; /* pale blue */
		font-family: helvetica;
		margin-left: 5px;
	}
	
	#LoginPanel.v-panel #LoginPanel.v-button {
	
	}
	
	#PanelMenu.v-panel .v-panel-caption {
		/* fallback */
		 background-color: #84b818;
		/* Safari 4-5, Chrome 1-9 */
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#84b818),to(#2F2727));
		/* Safari 5.1, Chrome 10+ */
		background: -webkit-linear-gradient(top, #c2d44c, #84b818);
		/* Firefox 3.6+ */
		background: -moz-linear-gradient(top, #c2d44c, #84b818);
		/* IE 10 */
		background: -ms-linear-gradient(top, #c2d44c, #84b818);
		/* Opera 11.10+ */
		background: -o-linear-gradient(top, #c2d44c, #84b818);
	}
	
	#PanelEqual.v-panel .v-panel-caption {
		/* fallback */
		 background-color: #84b818;
		/* Safari 4-5, Chrome 1-9 */
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#84b818),to(#2F2727));
		/* Safari 5.1, Chrome 10+ */
		background: -webkit-linear-gradient(top, #c2d44c, #84b818);
		/* Firefox 3.6+ */
		background: -moz-linear-gradient(top, #c2d44c, #84b818);
		/* IE 10 */
		background: -ms-linear-gradient(top, #c2d44c, #84b818);
		/* Opera 11.10+ */
		background: -o-linear-gradient(top, #c2d44c, #84b818);
	}
}